{%extends "base.html"%}
{%block content%}
<div class="container-fluid">
<div class="row">
<div class="col-sm-3 col-md-2 sidebar">
   <br><br>
   <ul class="nav nav-sidebar">
      <!-- <li><a href="{%url 'nocaddticket'%}">Add Ticket</a></li> -->
      <br>
      <br>
      <li><a href="{%url 'managerschdule' team%}">Manage Schedules</a></li>
      <li><a href="#">Bug Report</a></li>
   </ul>
</div>
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="/static/css/fullcalendar.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="/static/css/fullcanlendar.print.css"> -->
<div class="container col-sm-9   col-md-offset-2">
   <div id="calendar"></div>
</div>
<!-- <link rel="stylesheet" type="text/css" href="/static/css/"> -->
<!-- js script  -->
<script src="/static/js/jquery.min.js"></script>
<!-- script for date picker -->
<script src="/static/js/managerOps.js"></script>
<script type="text/javascript">
   $.getScript('http://arshaw.com/js/fullcalendar-1.6.4/fullcalendar/fullcalendar.min.js',function(){
   
   
   var log = {{logs|safe}};
   var array = [];
   for(index in log){
      var row ={
      title:log[index].name,
      start : log[index].startdate,
      end:log[index].enddate,
      allDay:false
      };
   array.push(row);
   }
   
   var list  = {
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    editable: true,
    eventLimit: true,
    color:true,
    events:array,
     
   };
   
   
   $('#calendar').fullCalendar(list);
   })
</script>
{%endblock%}