 {%extends "base.html"%}

{%block content%}
<div align="left">

 <form action = "{%url 'managerindex' team %}" method = "post"> 
	{%csrf_token%}
	<div style="float:left;width:25%">
 	 
 	<p><label for= "employee">Team {{team}} : <br></label></p>
 	{%for item in emp%}
 	<input type="checkbox" name="employee" value={{item.employeeid}}>{{item}}<br> 
 	{%endfor%}
  	
  	<p><label for= "startdate">StartDate: </label></p> 
 	<input type = "text" name = "startdate" id = "startdate"/></p> 

  	<p><label for= "enddate">EndDate: </label></p>
  	<input type = "text" name = "enddate" id = "enddate"/></p><br><br>
  

  	<input type="submit" value="Set Schedule"  />
 	</div>

 	<div style="float:right;width:75%">
	<pre>
		{%for i in log%}
		{{i}}{%endfor%}
	</pre>
	</div>
 	
</form>
</div>


{%endblock%} 