{%extends "base.html"%}
{%block content%}
 

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <br><br>
          <ul class="nav nav-sidebar">

            <!-- <li><a href="{%url 'nocaddticket'%}">Add Ticket</a></li> -->
            <br>
            <br>
            <li><a href="#"  class = "confirm-delete" id = "new" role="button"  data-toggle="modal" data-target="#addModal">Add Schdule</a></li>
            <li><a href="{%url 'managerindex' team%}">Back</a></li>
            <li><a href="#">Bug Report</a></li>
            
          </ul>
        </div>

        <br><br><br><br><br><br>

        <div class="col-sm-9   col-md-offset-2">
  <div class="table-responsive">

    <table class="table table-striped" id="example">
      <thead>
        <tr>
          <!-- <th>#</th> -->
          <th>Employee</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <!-- <th>#</th> -->
          <th>Employee</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Operations</th>
        </tr>
      </tfoot>
      <tbody>

        {%for  val in log%}
        <tr id = "{{val.id}}"  >
          <!-- <td> {{forloop.counter}}</label></td> -->

          <td id = "name{{val.id}}">{{val.name}}{{val.id}}</td>
          <td id = "start{{val.id}}">{{val.startdate | date:" Y/m/d h:i A"}}</td>
          <td id = "end{{val.id}}">{{val.enddate| date:" Y/m/d h:i A"}}</td>
          <td>
            <a href="#" class="confirm-delete btn update_row glyphicon glyphicon-pencil" id = "update{{val.id}}" role="button" data-toggle="modal" data-target="#updateModal"></a>
            <a href="#" class="confirm-delete btn delete_row glyphicon glyphicon-trash" id = "delete{{val.id}}" role="button"  data-toggle="modal" data-target="#deleteModal" ></a>
            <a href="#"  class = "confirm-delete btn glyphicon glyphicon-plus" id = "new" role="button"  data-toggle="modal" data-target="#addModal"></a>
          </td>
        </tr>
        {%endfor%}


      </tbody>
    </table>
       

  </div>
</div>
</div>

      <!-- model for add schedule . Will be refactored later-->
      <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
              <div class="modal-dialog">
              <!-- modal content -->
                      <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">New Schedule</h4>
                              </div>
                        
                              <div class="modal-body">
                                  <form action = "{%url 'managerschdule' team%}" method = "post"> <!-- send to Django view  -->
                                    {%csrf_token%}
                                      <table class = "table borderless">
                                          
                                                    <thead id="tblHead">
                                                      <tr> 
                                                          <th>Employee</th>
                                                          <th>Start Date</th>
                                                          <th>End Date</th>
                                                      </tr>
                                                    </thead>
                                                      <tr>
                                                        <td> 
                                                              <select name = "user" class="form-control">
                                                             {%for item in emp%}
                                                             <option value ={{item.employeeid}}>{{item}}</option>
                                                             {%endfor%}
                                                             </select>
                                                       </td>
                                                        <td>
                                                              <input type = "text" name = "startdate"  id = "datetimepicker1" placeholder="01/01/2016" class = "form-control" /> 
                                                        </td>
                                                        <td> 
                                                              <input type = "text" name = "enddate"   id = "datetimepicker2" placeholder="01/01/2016" class = "form-control"/> 
                                                        </td>
                                                      </tr>
                                      </table>

                              </div>

                              <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Submit</button></form>
                              </div>

                      </div>
              </div>
     </div>

 <!-- model for update schedule . Will be refactored later-->
      <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
              <div class="modal-dialog">
              <!-- modal content -->
                      <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Update Schedule</h4>
                              </div>
                        
                              <div class="modal-body">
                                  <form action = "{%url 'updateschedule' team%}" method = "post"> <!-- send to Django view  -->
                                    {%csrf_token%}
                                      <table class = "table borderless">
                                          
                                                    <thead id="tblHead">
                                                      <tr> 
                                                          <th>Employee</th>
                                                          <th>Start Date</th>
                                                          <th>End Date</th>
                                                      </tr>
                                                    </thead>
                                                      <tr>
                                                        <td> 
                                                              <select name = "user" class="form-control" id = "select1">
                                                             {%for item in emp%}
                                                             <option value ={{item.employeeid}}>{{item}}</option>
                                                             {%endfor%}
                                                             </select>
                                                       </td>
                                                        <td>
                                                              <input type = "text" name = "startdate" id = "datetimepicker3" placeholder="01/01/2016" class = "form-control" />
                                                        </td>
                                                        <td> 
                                                              <input type = "text" name = "enddate" id = "datetimepicker4" placeholder="01/01/2016" class = "form-control"/> 
                                                              <input type = "text" name = "log_id" id = "log_id"   class = "form-control hidden"/> 
                                                        </td>
                                                      </tr>
                                      </table>

                              </div>

                              <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-primary">Submit</button></form>
                              </div>

                      </div>
              </div>
     </div>




<!-- modal for delelte -->
     <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
              <div class="modal-dialog modal-sm">
              <!-- modal content -->
                      <div class="modal-content">
                          <form action = "{%url 'deleteschedule' team%}" method = "post"> <!-- send to Django view  -->
                              <div class="modal-body">
                                    <h4 class="modal-title" id="myModalLabel">Delete an on duty record?</h4>
                                     
                                    {%csrf_token%}
                                    <input type = "text" name = "log_id" id = "deletelogid"   class = "form-control hidden"/> 
                                    
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                 <button type="submit" class="btn btn-primary">Submit</button></form>
                              </div>
                          </form>
                      </div>
              </div>
     </div>
</div>
</div>
 <p id = "demo"></p>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
      <script>
      var data = {{logs|safe}}
        $(document).ready(function() {
         
          //datatable js
          $('#example').DataTable( {
            "dom": '<"toolbar">frtip'});
          $("div.toolbar").html('<h4>Schedule :</h4>');
          // datepicker for dates
          // $('#startdate, #enddate, #startdate1, #enddate1').datepicker({
          //   format: "yyyy-mm-dd",
          //   startDate: new Date(),
          // });  
         
        });
        var index;
        $('.update_row').on('click', function (e) {
          index = $(this).parent().parent().attr('id');
          // var name = $("#name"+index).html();
          var start= $("#start"+index).html();
          var end = $("#end"+index).html();
 
          $("#datetimepicker3").attr("placeholder",start);
          $("#datetimepicker3").val(start);
          $("#datetimepicker4").attr("placeholder",end);
          $("#datetimepicker4").val(end);
          $("#log_id").val(index);
        });
        $('.delete_row').on('click', function (e) {
           index = $(this).parent().parent().attr('id');
           $("#deletelogid").val(index);
         });
      </script>
       <!-- script for datetime picker -->
      <script type="text/javascript">
      $(function () {
        $('#datetimepicker1').datetimepicker({
          minDate:new Date(),
        });
        $('#datetimepicker2').datetimepicker({
            minDate:new Date(),
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });


        $('#datetimepicker3').datetimepicker({
          minDate:new Date(),
        });
        $('#datetimepicker4').datetimepicker({
            minDate:new Date(),
        });
        $("#datetimepicker3").on("dp.change", function (e) {
            $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker4").on("dp.change", function (e) {
            $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
        });
      });
    </script>
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css"> -->


       <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"> 
      <!-- <script src="/static/js/jquery.min.js"></script> -->
      <script src="/static/js/moment.min.js"></script>
      <!-- <script src="/static/js/bootstrap.min.js"></script> -->
      <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">
           <!-- <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script> -->
      <!-- <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">  -->
      
     

 
  {%endblock%}