{%extends "base.html"%}
{%block content%}



    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <br><br>
          <ul class="nav nav-sidebar">
           
            <!-- <li><a href="{%url 'nocaddticket'%}">Add Ticket</a></li> -->
            <br>
            <br>

            <li><a href="{%url 'nocaddticket'%}">Call SME</a></li>
            <li><a href="{%url 'nocsme'%}">Check SME Calendar</a></li>
            <li><a href="{%url 'nocsmetable'%}">Check SME Table</a></li>
          </ul>
        </div>

        <div class="col-sm-9   col-md-offset-2">
          <!-- <h3 class="sub-header">Operation History</h3> -->
          <div class="table-responsive">
           
            <table class="table table-striped" id="example">
              <thead>
                <tr>
                  <th>#</th>
                  <th>TimeStamp</th>
                  <th>Ticket #</th>
                  <th>Level</th>
                  <th>Teams</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>#</th>
                  <th>TimeStamp</th>
                  <th>Ticket #</th>
                  <th>Level</th>
                  <th>Teams</th>
                </tr>
              </tfoot>
              <tbody>
               
              {%for  val in log%}
                <tr >
                  <td>{{forloop.counter}}</td>
                  <td>{{val|slice:'1'|join:""}}</td>
                  <td>{{val|slice:'1:2'|join:""}}</td>
                  <td>{{val|slice:'2:3'|join:""}}</td>
                  <td>{{val|slice:'3:4'|join:""}}</td>
                </tr>
                {%endfor%}
                
                
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    	<script>
    			$(document).ready(function() {
    				$('#example').DataTable( {
        					"dom": '<"toolbar">frtip'});
 
    				$("div.toolbar").html('<h4>Operation History</h4>');});
			</script>
       <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"> 
{%endblock%} 