{%extends "base.html"%}
{%block content%}
 <br><br><br>
  <div class="container">
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-md-5'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker({format : "YYYY-MM-DD   HH:mm"});
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
<!-- <script src="/static/js/jquery.min.js"></script> -->
<script src="/static/js/moment.min.js"></script>
<!-- <script src="/static/js/bootstrap.min.js"></script> -->
<script src="/static/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"> -->
 
 
  {%endblock%}
 