{%extends "base.html"%}
{%block content%}
<BR><BR>
 <title>Sign in Paging System</title>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h2 class="text-center login-title">Sign in</h2>
            <div class="account-wall">
               
                <form class="form-signin" method = "post" action ="{% url 'homepage' %}">
                <ul class = "errorMessages"></ul>
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Username" name = 'username' required autofocus>
                <input type="password" class="form-control" placeholder="Password" name = 'password' required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Sign in</button>
                 <label class="checkbox pull-left"><input type="checkbox" name = "remember" value="true"/>Remember me</label><br>
                <a href="{%url 'passwordchange'%}" class="pull-right need-help">Change Password? </a><span class="clearfix"></span>
                </form>
            </div>
          
        </div>
    </div>
</div>

{%endblock%} 