{%extends "base.html"%} 
{%block content%}
<br><br><br><br><br><br>
<div style="float: left;display: inline-block" >
                <div style="float: left" class="input-group col-xs-2">
                <label>Outage/Service Alert number</label>
                  <!-- <div class="input-group-addon"> #</div> -->
                  <input type="text" class="form-control" name="Ticket" id = "ticket" /> <span id = "error_msg" class=" text-danger"></span>
                </div>
                <div style="float: right" class="input-group col-xs-5">
                <label>Bridge#</label>
                  <!-- <div class="input-group-addon"> #</div> -->
                <input type="text" class="form-control" name="Bridge" id = "bridge" /> <span id = "error_bridge" class=" text-danger"></span>
                </div>
</div>
<div style="float: bottom" >
                <div style="float: bottom" class="input-group col-xs-5">
                <label>Subject</label>
                  <!-- <div class="input-group-addon"> #</div> -->
            <input type="text" class="form-control" name="Subject" id = "subject" /> <span id = "error_subject" class=" text-danger"></span>
                </div>
</div>
              </div>
{%endblock%} 