{%extends "base.html"%}
{%block content%}
<br><br><br>
<link rel="stylesheet" type="text/css" href="/static/main.css">
  <div class="col-sm-9   col-md-offset-2">
          <!-- <h3 class="sub-header">Operation History</h3> -->
          <div class="table-responsive">
                      <table class="table  table-bordered table-hover" width="744" id="example">
                      <thead>
                      <tr>
                      <th>#</th>
                      <th>Column heading</th>
                      <th>Column heading</th>
                      <th>Column heading</th>
                      <th>Column heading</th>
                      </tr>
                      </thead>
                       <tfoot> 
                      <tr>
                      <th>#</th>
                      <th>Column heading</th>
                      <th>Column heading</th>
                      <th>Column heading</th>
                      <th>Column heading</th>
                      </tr>
                      </tfoot>
                      <tbody>
                      <tr class = "a">
                      <td>1</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      </tr>
                      <tr class = "b">
                      <td>2</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      </tr>
                     
                      <tr class="c">
                      <td>4</td>
                      <td>success</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      </tr>
                      <tr class="danger">
                      <td>5</td>
                      <td>danger Row</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      </tr>
                      <tr class="warning">
                      <td>6</td>
                      <td>warning row</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      </tr>
                      <tr class="info">
                      <td>7</td>
                      <td>info row</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      </tr>
                      <tr class = "active">
                      <td>8</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      </tr>
                       
                      </tbody>
                      </table>
        </div>
</div>
 <script>
          $(document).ready(function() {
            $('#example').DataTable( {
                  "dom": '<"toolbar">frtp',
                  "pageLength": 10
                });
 
            $("div.toolbar").html('<h4>Operation History</h4>');});
      </script>
       <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"> 
{%endblock%} 